@InteractiveServer 
@page "/orderbook"

@inject IJSRuntime jsRuntime

<script src="js/signalr.js"></script>
<button @onClick="SendMessage">Send MEssage</button>
<p>Loading...</p>
<button @onclick="SendTestOrder">Click Me</button>


@code {
    private async Task SendMessage()
    {
        await jsRuntime.InvokeVoidAsync("sendMessageTestSignalR");
    }

    private void SendTestOrder()
    {
        Console.WriteLine("My debug output.");
        // await SignalRService.SendOrderAsync("Test Order at " + DateTime.Now);
    }
}